<h1>My Articles</h1>

<table>
    <% @articles.each do |a| %>
        <tr>
            <td><%= link_to a.title, article_path(a), class: "article_title", id: "article_#{a.id}" %></td>
            <td><%= a.body %></td>
        </tr>
    <% end %>
</table>
<% if logged_in? %>
<%= link_to "Create a new article", new_article_path, class: "new_article" %>
<% end %>
<br>
<%= link_to "See all Tags", tags_path %>